/* Start Global Rules  */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--default-text-color);
}

button {
    cursor: pointer;
}

/* End Global Rules  */